.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.form-checkbox {
  display: flex;
}

.form-checkbox__content {
    display: flex;
    gap: 12px;
}

.form-checkbox__svg-wrapper {
    display: flex;
    min-width: 24px;
    height: 24px;
    border: 1px solid black;
    cursor: pointer;
    align-items: center;
    justify-content: center;

}

.form-checkbox__svg-wrapper--selected {
  color: blue;

}

.form-checkbox__svg {
    visibility: hidden;
}